<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>

    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="css/host.css" rel="stylesheet">
</head>

<style>
    h1{
        color: greenyellow;
    }

    .box{
        width: 45%;
        position: absolute;
        left:35%;
        bottom:35%;
    }

</style>

<body>

    <centre>
        <div class="box">
            <h1>SUCESSS</h1>
            <h1>Name: <%= namePerson%></h1>
            <h1>Email: <%= emailId%></h1>
        </div>
    </centre>
    
</body>
</html>